<img src="/images/group.png" />

<div class="info">
    <div class="heading">
        <strong>{{name}}</strong>
        <span class="info">{{code}}</span>
    </div>

    <div class="detail">
        <span class="phone">{{tel}}</span>
        <span class="email"><a href="mailto:{{email}}">{{email}}</a></span>
    </div>
</div>

<ul>
    <li><a class="select">open</a></li>
</ul>