<ul>
    <li class="{{search_for}}">
        <input class="search" placeholder="Search for {{search_for}}&rarr;" type="text" value="{{q}}" />
    </li>
{{#each actions.menu}}
    <li><a href="{{url}}/">{{text}}</a></li>
{{/each}}
</ul>
