<ul>
    <li class=" {{collection_name}}">
        <input class="search" placeholder="Search for {{collection_name}}&rarr;" type="text" value="{{q}}" />
    </li>
{{#each menu.menu}}
    <li class="{{classifier}}"><a href="{{parameterize_url url}}">{{text}}</a></li>
{{/each}}
</ul>
