{{#users}}
    <article class="user list">
        <img src="/images/noprofile.png" />

        <div class="info">
            <div class="heading">
                <strong>{{email}}</strong>
                <span class="info">{{username}}</span>
            </div>

            <div class="detail">
                <span class="phone">{{username}}</span>
                <span class="email"><a href="mailto:{{email}}">{{email}}</a></span>
            </div>
        </div>

        <ul>
            <li><a href="/">open</a></li>
        </ul>
    </article>
{{/users}}

