<img src="/images/member.png" url="{{user.photo}}" />

<div class="info">
    <div class="heading">
        <strong>{{first_name}} {{last_name}}</strong>
        <span class="info">{{user.username}}</span>
        <span class="info">{{group.name}}</span>
    </div>

    <div class="detail">
        <span class="email"><a href="mailto:{{email}}">{{email}}</a></span>
        <span class="phone">{{tel}}</span>
    </div>
</div>

<ul>
    <li><a class="select">open</a></li>
</ul>